@import "./../../styles/global.scss";

.multiSelect {
  // margin-top: 10px;
  width: 172px;
  margin-right: 10px;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    margin-top: 0;
  }
  .selectBox {
    // margin-top: 5px;
    position: relative;
    top: 12px;
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      margin-top: 0;
    }
    .select {
      width: 172px;
      height: 40px;
      background-color: #fff;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      padding: 15px;
      padding-top: 0;
      font-family: Lato;
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid;
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        margin: 0;
        border: 0;
      }
    }
    .label {
      font-family: Lato;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: 0.5px;
      color: #666666;
      text-transform: uppercase;
      position: relative;
      left: 16px;
      top: -38px;
      pointer-events: none;
      @media (max-width: $breakpoint-mobile) {
        top: -35px;
        left: 15px;
      }
    }
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .selectContainer {
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }
  .modal{
    background-color: white;
    width: 172px;
    height: 241px;
    margin-top: -25px;
    position: absolute;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    box-sizing: border-box;
    @media (max-width: $breakpoint-mobile) {
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    .modalContent {
      display: contents;
      @media (max-width: $breakpoint-mobile) {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  #checkboxes label {
    display: block;
  }
  .leb {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    &:hover {
      background-color: #eee;
    }
    @media (max-width: $breakpoint-mobile) {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      box-sizing: border-box;
    }
  }
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  .arrow {
    width: 14px;
    height: 14px;
    position: absolute;
    left: auto;
    right: 3px;
    top: 17%;
  }
}