@import "./../../styles/global.scss";

.root {
  .buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    @media (max-width: $breakpoint-mobile) {
      width: 86px;
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 11px 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    &:active {
      background: #eee;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 40px;
      p {
        display: none;
      }
    }
  }
  .icon {
    font-family: FontAwesome5Pro;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3971c1;
    fill: #3971c1;
    @media (max-width: $breakpoint-mobile) {
      width: 16px;
    }
  }
  .filtersContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-top: 15px;
    padding: 10px;
    padding-bottom: 0;
    background: #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      width: 93%;
      background: #fff;
    }
    .selectContainer {
      display: flex;
      flex-direction: column;
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
      }
      .select {
        margin: 10px;
        width: 172px;
        height: 40px;
        background-color: #fff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        padding: 10px;
        padding-top: 0;
        font-family: Lato;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #292929;
        cursor: pointer;
        @media (max-width: $breakpoint-mobile) {
          width: 100%;
          margin: 0;
          border: 0;
        }
      }
      .label {
        font-family: Lato;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: 0.5px;
        color: #666666;
        text-transform: uppercase;
        position: relative;
        left: 25px;
        top: -27px;
        pointer-events: none;
        @media (max-width: $breakpoint-mobile) {
          top: -15px;
          left: 15px;
        }
      }
    }
  }
  .reset {
    margin: 10px;
    margin-top: -5px;
    width: 172px;
    height: 40px;
    background-color: #3971c1;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}
